* {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: url(https://images.unsplash.com/photo-1459865264687-595d652de67e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=21f8da08ad1e4c7a5f2955e6ed16baeb&auto=format&fit=crop&w=1500&q=80);
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px) {
    * {
        font-size: 16px;    
    }
}

.dropdown-item:hover {
    background-color: green;
    color: white;
}

.dropdown-menu {
    margin: 0px;
    padding: 0px;
}

.nav-item .nav-link:hover {
    color: green;
}

@media (max-width: 991px) {
    .dropdown-menu {
        border: 0px;
        background-color: transparent;
    }
}

.carousel-item {
    height: 640px;
}

/* .carousel-item img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); */
/* } */

.carousel-caption {
    bottom: 0%;
    margin-bottom: 10%  ;
}

@media (max-width: 768px) {
    .carousel-caption {
        font-size: 50%;
    }
}

@media (max-width: 991px) {
    .carousel-item {
        height: 100%;
    }
}

.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

@media (max-width:768px) {
    iframe {
        width: 400px;
        height: 300px;
    }
}

.container .row .shop-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    height: 50px;
    background-color: white;
}

.side-bar {
    display: none;
    position: absolute;
    top: 537px;
    height: 100%;
    width: 150px;
    z-index: 9999;
}

section .btn {
    position: relative;
}